<div class="card rounded shadow-sm">
 <form>
 	<div class="p-3">
 		<div class="form-row">
 			<div class="form-group col-md-12">
 				<label>Tema</label>
 				<input type="text" class="form-control" placeholder="Insira o Tema">
 			</div>
 		</div>
 		<div class="form-row">
 			<div class="form-group col-md-8">
 				<label>Local</label>
 				<input type="text" class="form-control" placeholder="">
 			</div>
 			<div class="form-group col-md-4">
 				<label>Data e Hora</label>
 				<input type="datetime" class="form-control" placeholder="">
 			</div>
 		</div>
 		<div class="form-row">
 			<div class="form-group col-md-2">
 				<label>Qtd Pessoas</label>
 				<input type="text" class="form-control" placeholder="">
 			</div>
 			<div class="form-group col-md-4">
 				<label>Telefone</label>
 				<input type="text" class="form-control" placeholder="(000) 90000-0000">
 			</div>
 			<div class="form-group col-md-6">
 				<label>Email</label>
 				<input type="text" class="form-control" placeholder="e-mail">
 			</div>
 		</div>
 	</div>
 	<div class="card-footer">
 		<div class="d-flex">
 			<button class="btn btn-outline-secondary mr-auto border">
 				Cancelar Alteração
 			</button>
 			<button class="btn btn-success">
 				<!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
 				Salvar Evento
 			</button>
 		</div>
 	</div>
 </form>
</div>
